{% extends 'base.html' %} {% block contents %}
<!-- NAVIGATION -->
<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" />
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<!-- HEADER -->
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1 class="mt-5">EIGHT</h1>
    <p class="lead">지금은 행복한 거지?</p>
    <p>기억을 가로지르는 비행기, 자유롭게 창공을 가르는 이들, 그리고 창밖을 바라보는 사람.</p>
  </div>
</div>

<!-- BUTTON -->
<div class="row mt-5">
  {% if request.session.user %}
  <div class="col-12">
    <button class="btn btn-primary btn-block" onclick="location.href='/user/logout/'">
      로그아웃
    </button>
  </div>
  {% else %}

  <div class="col-6">
    <button class="btn btn-primary btn-block" onclick="location.href='/user/login/'">로그인</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary btn-block" onclick="location.href='/user/register/'">
      회원가입
    </button>
  </div>
  {% endif %}
</div>
<div class="row mt-1">
  <div class="col-12">
    <button class="btn btn-primary btn-block" onclick="location.href='/board/list/'">
      게시글 보기
    </button>
  </div>
</div>

{% endblock contents %}
