{% extends 'base.html' %} {% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" , action=".">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.name 'contents' %}
        <textarea
          class="form-control"
          name="{{ field.name }}"
          placeholder="{{ field.label }}"
        ></textarea>
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          name="{{ field.name }}"
          id="{{ field.id_for_label }}"
          class="form-control"
          placeholder="{{ field.label }}"
        />
        {% endifequal %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </div>
</div>
<div class="row">{% endblock contents %}</div>
